<% @spaces.each do | space |%>
  <section id=<%=space.id%>>
    <h3> 
      <a href="/spaces/<%= space.id %>">  <%= space.space_name %> </a>
    </h3>
    <p>   <%= space.description %></p> 
    <p>£<%= space.rate %> per night</p> 
    </br>
  </section>
<% end %>