<% @spaces.each do | space |%>
    <section id=<%=space.id%>>
      <a href="/spaces/<%= space.id %>">   <%= space.space_name %></a>
      <p>   <%= space.description %></p> 
      <p>   <%= space.rate %></p> 
      </br>
    </section>
  <% end %>