<%= flash[:add_space_success] %>

<h2><%= @space.space_name %></h2>
<p>£<%= @space.rate %> per night</p>
<h3>Description:</h3>
<p><%= @space.description %></p>

<%= flash[:user_not_signed_in] %>
<h2>Book Now!</h2>
<form method="post" action="/booking/<%=@space.id%>">
  <input name="date_from" type="date" required>
  <input name="date_to" type="date" required>
  <input type="submit" value="Submit Request">
</form>